body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 20;
	width: 100%;
  }
  
h1 {font-family: Helvetica, Ariel, serif;
  color: #000000;
	font-size: 32px;
	text-align: center;
  }
  
h3 {font-family: Helvetica, Ariel, serif;
    color: #ababab;
    font-size: 24px;
    text-align: center;
   }

h4 {font-family: Helvetica, Ariel, serif;
	color: #000000;
	font-size: 20px;
	text-align: center;
   }
  
.school {
	display: inline;
	text-align: left;
	font-family: Helvetica, Ariel, serif;
	font-size: 16px;
	color: #ee6363;
	}
	
.apac {
	display: inline;
	text-align: left;
	font-family: Helvetica, Ariel, serif;
	font-size: 16px;
	color: #ffa54f;
	}

.bou {
	display: inline;
	text-align: left;
	font-family: Helvetica, Ariel, serif;
	font-size: 16px;
	color: #3cb371;
	}

.dunn {
	display: inline;
	text-align: left;
	font-family: Helvetica, Ariel, serif;
	font-size: 16px;
	color: #87ceff;
	}
